<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tmart-Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <%= render "base/cssplaceholder" %>

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <%= render "base/header" %>
        <!-- End Header Style -->
        
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <%= render "base/searchpopup" %>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <%= render "base/offsetmenu" %>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <%= render "base/cartpanel" %>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <%= render "base/featureproduct" %>
        <div class="only-banner ptb--100 bg__white">
            <div class="container">
                <div class="only-banner-img">
                    <a href="shop-sidebar.html"><img src="images/new-product/3.jpg" alt="new product"></a>
                </div>
            </div>
        </div>
        <!-- Start Our Product Area -->
        <%= render "base/productarea" %>
        <!-- End Our Product Area -->
        <div class="only-banner ptb--100 bg__white">
            <div class="container">
                <div class="only-banner-img">
                    <a href="shop-sidebar.html"><img src="images/new-product/6.jpg" alt="new product"></a>
                </div>
            </div>
        </div>
        <!-- Start Our Product Area -->
        <%= render "base/productarea1" %>
        <!-- End Our Product Area -->
        <div class="only-banner bg__white">
            <div class="container">
                <div class="only-banner-img">
                    <a href="shop-sidebar.html"><img src="images/new-product/7.jpg" alt="new product"></a>
                </div>
            </div>
        </div>
        <!-- Start Our Product Area -->
        <%= render "base/productarea2" %>
        <!-- End Our Product Area -->
        <!-- Start Blog Area -->
        <%= render "base/productarea3" %>
        <!-- End Blog Area -->
        <%= render "base/footer" %>
    </div>
    <!-- Body main wrapper end -->
    <%= render "base/quickview" %>
    <!-- All javascript code here -->
    <%= render "base/jsplaceholder" %>

</body>

</html>

<%= yield %>
